{{#each hotels}}
  <article class="hotel-card">
    <div class="hotel-card__wrapper">
      <div class="hotel-card__image">
        <i class="material-icons image__arrow image__arrow--left">keyboard_arrow_left</i>
        <i class="material-icons image__arrow image__arrow--right">keyboard_arrow_right</i>
        {{#each images}}
          {{#if @first}}
            <img src="{{this}}" class="image active" alt="{{name}}"/>
          {{/if}}
          {{#unless @first}}
            <img src="{{this}}" class="image" alt="{{name}}"/>
          {{/unless}}
        {{/each}}
      </div>
      <div class="hotel-card__detail">
        <div class="hotel-card__name-container">
          <h1 class="hotel-card__name"><a class="hotel-card__name--link">{{name}}</a></h1>
          <div class="hotel-card__stars-container">
            <ul class="hotel-card__stars">
              {{[../helpers/getStars] stars}}
            </ul>
            <span class="hotel-text">Hotel</span>
          </div>
        </div>
        <div class="hotel-card__location-container">
          <div class="hotel-card__location">
            <i class="material-icons">location_on</i>
            <p class="location-text">{{[../helpers/getLocation] city country}}</p>
          </div>
        </div>
        <div class="hotel-card__reviews-container">
          <div class="hotel-card__reviews {{[../helpers/getRatingText] rating}}">
            <div class="hotel-card__rating-box">
              <div class="hotel-card__rating">{{[../helpers/getFixedNumber] rating}}</div>
            </div>
            <div class="hotel-card__rating-text">{{[../helpers/getRatingText] rating}}</div>
            <a href="#" class="hotel-card__reviews-text">See all reviews</a>
          </div>
          <span class="reviews__arrow-right"><i class="material-icons">keyboard_arrow_right</i></span>
        </div>
      </div>
      <div class="hotel-card__price-container">
        <div class="hotel-card__price">
          <h1>$ {{price}}</h1>
        </div>
        <button id="{{id}}" class="view-details__button">
          <span class="view-details__button--text">View Details</span>
          <i class="material-icons">keyboard_arrow_down</i>
        </button>
      </div>
    </div>
  </article>
  {{> details this}}
{{else}}
  <div class="no-hotels">
    <div class="no-hotels__text">
      No hotels found. Please update search criteria.
    </div>
  </div>
{{/each}}
